<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    

    <form class="form-inline my-2 my-lg-0" (ngSubmit)="onSubmitSearch()" #searchForm="ngForm">
    	<!-- <input id="search_key" type="text" name="search_key" ngModel class="col-xs-10 col-xs-offset-1 input-alias" /> -->
      	<input id="search_key" name="search_key" class="form-control mr-sm-2" type="search" ngModel placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<p>
  {{search_result}}
</p>
